<h1>MY ORDERS</h1>

  <div class="cards row justify-content-center gap-5">
    <% @my_orders.each do |order| %>
      <%= render 'partials/card', my_order: order, organ: order.organ %>
    <% end %>
  </div>
