<div class="container">
  <h1>MY OFFERS</h1>
  <div class="cards row justify-content-center">
    <% @organs.each do |organ| %>
      <%= render 'partials/card', organ: organ %>
    <% end %>
  </div>
</div>
